.footer-title{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #38383D;
}

.footer-item-link{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    display: block;
    padding: 5px 0;
    color: #808089;
}

.footer-item-link:hover{
    text-decoration: underline;
}

.footer-subcribe-icon{
    margin-top: 10px;
}

.footer-logo-wrapper{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}