.main{
    background-color: #f5f5fa; 
    overflow: hidden;
    padding-bottom: 20px;
}

.main > *{
    width: 100%;
}

.main-nav-path,
.main-content{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1270px;
}